<div class="row">
	<h2>Available Tasks</h2>

	<div id="map"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUSl61EYZETz7KfWIv3dw9NUMj-Tue78&libraries=places&callback=initMap" async defer></script>
</div>
<div class="row tasks">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<% @tasks.each do |task| %>
			<% user_task = current_user.user_tasks.find_by(user_id: current_user.id, task_id: task.id) if user_signed_in? %>
			<% meets_req = UserTask.new(user_id: current_user.id, task_id: task.id).valid? %>
			<ul class="task">
				<li><h3><%= task.title %></h3></li>
				<li><h4>Address - <%= task.address %></h4></li>
				<li><h5>Duration: <%= task.duration %></h5></li>
				<% if user_signed_in? %><li><h5>Status: <%= user_task.nil? ? "Not Applied" : user_task.task_type.to_s.humanize %></h5></li><% end %>
				<li><p><%= task.description %></p></li>

				<li><a href="/" class="showBadge" onclick="return false"/>View the list of required badges</a></li>
				<li class="badges-required">
					<ul>
							<% task.badges.each do |badge| %>
							<li>
		            <%= image_tag(badge.image, size: "150", alt: "Badges") %>
		            <p><%= badge.name %></p>
							</li>
							<% end %>
					</ul>

				</li>
				<% if (user_signed_in? && user_task.nil? && meets_req) %>
					<li><%= link_to("Apply", { :action => "apply", :id => task.id }, class: "apply", method: :post, remote: true) %></li>
				<% elsif (!meets_req) %>
					<li><a href="javascript:" class="denied">Does Not Meet Requirements</a></li>
				<% end %>
			</ul>
		<% end %>
<% if (employer_signed_in?) %>
<%= link_to '<i class="fa fa-plus"></i> Add Task'.html_safe, new_task_path, class: "btn btn-primary" %>
<% end %>

<script>
	$(".showBadge").click(function(){
    $(".badges-required").toggle();
});
</script>


	</div>
</div>
