<div class="row">
	<h2>Available Tasks</h2>
<h3>Map</h3>
	<div id="map"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUSl61EYZETz7KfWIv3dw9NUMj-Tue78&libraries=places&callback=initMap" async defer></script>
</div>
<div class="row tasks">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<% @tasks.each do |task| %>
			<ul class="task">
				<li><h3><%= task.title %></h3></li>
				<li><h4>Address - <%= task.address %></h4></li>
				<li><h5>Duration: <%= task.duration %></h5></li>
				<li><p><%= task.description %></p></li>
				<li><a href="/"/>View the list of required badges</a></li>
				<li class="badges-required">
				</li>
				<li><a href="/" class="apply">Apply</a></li>
			</ul>
		<% end %>
<% if (employer_signed_in?) %>
<%= link_to '<i class="fa fa-plus"></i> Add Task'.html_safe, new_task_path, class: "btn btn-primary" %>
<% end %>

	</div>
</div>
