<%= link_to '<i class="fa fa-plus"></i> Add Task'.html_safe, new_task_path, class: "btn btn-primary" %>

<% @tasks.each do |task| %>
	<div>
		Title: <%= task.title %><br />
		Description: <%= task.description %><br />
		Duration: <%= task.duration %><br />
		Address: <%= task.address %>
	</div>
<% end %>
