

<!-- The href of the button to launch the modal must match the id of the modal dialog. -->
<hr>
<% @users.each do |user| %>
  <div>
      <%= bootstrap_form_for @userbadge  do |f| %>
          <%= f.hidden_field :user_id, :value => user.id %>
          <%= user.email %>
          <% user.badges.each do |badge| %>
             , <%= badge.name %>
          <% end %>

          <%= select("userbadge", "badge_id", Badge.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}) -%><%= f.submit "Save" %>
      <% end %>
  </div>
<% end %>

