

<!-- The href of the button to launch the modal must match the id of the modal dialog. -->
<hr>
<% @users.each do |user| %>
  <p><%= user.email %>
      <% user.badges.each do |badge| %>
         , <%= badge.name %>
      <% end %>
      <%= form_for @userbadge  do |f| %>
          <%= f.hidden_field :user_id, :value => user.id %>
          <%= f.select :badge_id, options_for_select(@badges.collect { |badge| [badge.name, badge.id] }, 1), {}, { id: 'badges_select' } %>


          <%= f.submit "Save" %>
      <% end %>
  </p>
<% end %>
