<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<% @classes.each do |course| %>
  	<ul class="course">
  		<li><h3><%= course.name %></h3></li>
      <li><%= course.description %></li>
      <li>Status: <%= course.status %></li>
  		<li>Max Capacity: <%= course.capacity %></li>
      <li>Start Date: <%= course.start_date %></li>
      <li>End Date: <%= course.end_date %></li>
      <li><%= link_to("Sign Up for the class", { :action => "apply", :id => task.id }, class: "apply", method: :post, remote: true) %></li>
    </ul>
  <% end %>

<% if (agency_signed_in?) %>
<%= link_to '<i class="fa fa-plus"></i> Add Class'.html_safe, new_class_path, class: "btn btn-primary" %>
<% end %>

	</div>
</div>

