<div class="row courses">
		<h2>Available Classes</h2>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-md-4">
				<h4>Name & Description of the course</h4>
			</div>
			<div class="col-md-2">
				<h4>Status</h4>
			</div>
			<div class="col-md-2">
				<h4>Start Date</h4>
			</div>
			<div class="col-md-2">
				<h4>End Date</h4>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	<% @classes.each do |course| %>
		<div class="row course">
			<div class="col-md-4">
						<h3><%= course.name %></h3>
						<h5><%= course.description %></h5>
						<p>Max Capacity: <strong><%= course.capacity %></strong></p>
			</div>
			<div class="col-md-2">
					<p><%= course.status %></p>
			</div>
			<div class="col-md-2">
					<p><strong><%= course.start_date %></strong></p>
			</div>
			<div class="col-md-2">
				<p><strong><%= course.end_date %></strong></p>
			</div>
			<div class="col-md-2">
				<a href="/" class="apply">Sign Up for the class</a>
			</div>

		</div>

  <% end %>

<% if (agency_signed_in?) %>
<%= link_to '<i class="fa fa-plus"></i> Add Class'.html_safe, new_class_path, class: "btn btn-primary" %>
<% end %>

	</div>
</div>
